{% extends 'site_base.html' %}

{% block title %}TOROS - Home{% endblock %}

{% block content %}  
<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Welcome</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Toritos First Light</a></li>
        <li class="nav-item"><a class="nav-link" href="#">First TOROS Workshop</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="#">People</a></li>
        <li class="nav-item"><a class="nav-link" href="#">The Site</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Toritos</a></li>
      </ul>
    </div>
    <div class="card-body">
      <div class="jumbotron">
        <h1>TOROS</h1>
      </div>
      <div class="row">
        <div class="col-sm-8">
            <h1>WHAT IS TOROS?</h1>
            <p>Motivated by the need for a dedicated optical follow-up instrument for aLIGO/AdVirgo, scientists from The University of Texas at Brownsville, the Universidad Nacional de Cordoba and Texas A&amp;M University have partnered to develop an astronomical observatory in the Southern hemisphere.
            The site at Cordon Macón is located at latitude 24.61 South and longitude 67.32 West, at an altitude of 4,650 meters in the province of Salta, Argentina. The northern province of Salta is located on the other side of the Andes where major European and American astronomical observatories are located in Chile in the vast region on both sides of the Andes called the Atacama Puna.</p>
            <p>The location has ideal conditions of humidity and air turbulence, which create almost perfect astronomical seeing (a technical term which, on a given night at a given location, describes how much the Earth’s atmosphere perturbs the images of stars as seen through a telescope). Owing to its location in the Southern hemisphere, it gives the opportunity to observe a region of the sky not visible from the Northern hemisphere. UNC and UTB have signed MOUs to this effect. The provincial government and UNC have already developed roads and infrastructure (internet connectivity and electrical power provided by solar panels).</p>
            <p>The project will take place in two stages:</p>
            <p>Stage I: Development of the site and installation of a Meade 16" telescope with a professional-grade Apogee CCD camera (both UTB owned). The telescope and dome (provided by UNC) will be automated and used to train students and postdocs in observations and image analysis of nearby galaxies in the southern hemisphere. The key science target in this phase will be a survey of nearby galaxies for the early discovery of nearby supernovae for follow-up observations with large telescopes. This is a much needed activity for supernova astronomy, since all current southern hemisphere supernova surveys focus on cosmological supernovae and nearby ones are often missed. Stage I of the project is already underway.</p>
            <p>Stage II: In collaboration with UNC and Texas A&amp;M, a meter-class wide-field telescope capable of surveying the sky for even very dim afterglows of GW events will be installed and made operational. The timescale for stage II is set by the need for follow-up capability for aLIGO in 2015. This project will be developed jointly by UTB, UNC, Caltech and TAMU scientists. It will require the training over the next several years of several graduate students in image processing techniques and the preparation of the full pipeline capable of low latency response to aLIGO triggers including the data reduction part needed to complete the analysis.</p>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
            <h4>Gravitational Waves discovered!</h4>
            <a href="http://www.utrgv.edu/en-us/about-utrgv/news/press-releases/2016/february-11-gravitational-waves-detected-100-years-after-einsteins-prediction/index.htm">Read the press release.</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h4>NSF partially supports American scientists travel to work on the TOROS project. Read the CGWA press release here:</h4>
              <a href="https://toros.utrgv.edu/TOROS/Welcome_files/pressreleaseNSFaward.pdf">Read the press release.</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
            <h4>New!</h4>
            <a href="#">Toritos First Light</a>
            </div>
          </div>
        </div>
      </div>
    </div class="card-body">
</div>

{% endblock %}
