  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{% block title %}TOROS Website{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {% block headerextra %}{% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Toros Website</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{% url 'broker:index' %}">Broker</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'wiki:root' %}">Wiki</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'winnow:index' %}">Winnow</a></li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li>
            {% if user.is_authenticated %}
            <div class="btn-group">
                <a class="btn btn-success btn-sm" href="{% url 'account:profile' user.username %}">{{ user.username }}</a>
                <a class="btn btn-danger btn-sm" href="{% url 'logout' %}">Log out</a>
            </div>
            {% else %}
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#loginmodal">Log in</button>
              <a class="btn btn-primary btn-sm" href="{% url 'account:signup' %}">Sign Up</a>
            </div>
            {% endif %}
          </li>
        </ul>
      </nav>

      <div class="modal fade" id="loginmodal">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Log in</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form method="post" role="form" action="{% url 'login' %}">
              <div class="modal-body">
                {% csrf_token %}
                <div class="form-group">
                  <label class="sr-only" for="name">Username:</label>
                  <input name="username" id="name" value="" class="form-control" type="text" placeholder="Username"/>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="password">Password:</label>
                  <input name="password" id="password" value=""  class="form-control" type="password" placeholder="Password" />
                </div>
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
              </div class="modal-body">
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Log in</button>
              </div class="modal-footer">
            </form>
          </div class="modal-content">
        </div class="modal-dialog modal-sm">
      </div id="loginmodal" class="modal fade" role="dialog">

      <div class="container" style="padding: 20px;">{% block content %}{% endblock %}</div>
      <div id="footer">
    <div class="container">
        <p class="text-muted">Copyright The TOROS project {% now "Y" %}</p>
    </div>
    </div>
    </body>
  </html>
