{% load staticfiles wagtailcore_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}TOROS{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <link href="{% static 'torosweb/css/carousel.css' %}" rel="stylesheet">
    {% block headerextra %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="container marketing">
            <!-- FOOTER -->
            <footer>
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>© {% now "Y" %} TOROS.</p>
            </footer>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'torosweb/js/jquery.min.js' %}"></script>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #cf4411;">
            <a class="navbar-brand text-white" href="{% pageurl request.site.root_page %}">
                <img src="{% static 'torosweb/images/toros_logo_gray.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-left" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-uppercase" href="{% pageurl request.site.root_page %}" style="font-size: 22px;">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#" style="font-size: 22px; color: #ffffff;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#" style="font-size: 22px; color: #ffffff;">People</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#" style="font-size: 22px; color: #ffffff;">Toritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#" style="font-size: 22px; color: #ffffff;">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% slugurl 'news' %}" style="font-size: 22px; color: #ffffff;">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#" style="font-size: 22px; color: #ffffff;">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="{% static 'torosweb/js/popper.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{% static 'torosweb/js/holder.min.js' %}"></script>
    </body>
</html>
