{% load staticfiles wagtailcore_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}TOROS{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <link href="{% static 'torosweb/css/carousel.css' %}" rel="stylesheet">
    {% block headerextra %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="container marketing">
            <!-- FOOTER -->
            <footer>
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>© {% now "Y" %} TOROS.</p>
            </footer>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #cf4411;">
            <a class="navbar-brand text-white" href="{% slugurl 'home' %}">
                <img src="{% static 'torosweb/images/toros_logo_gray.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-left" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-uppercase" href="{% slugurl 'home' %}" style="font-size: 22px;">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% slugurl 'news' %}" style="font-size: 22px; color: #ffffff;">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'broker:index' %}" style="font-size: 22px; color: #ffffff;">Broker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'wiki:root' %}" style="font-size: 22px; color: #ffffff;">Wiki</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li>
                    {% if user.is_authenticated %}
                        <div class="btn-group">
                            <a class="btn btn-light btn-sm" href="{% url 'account:profile' user.username %}">{{ user.username }}</a>
                            <a class="btn btn btn-secondary btn-sm" href="{% url 'logout' %}">Log out</a>
                        </div>
                    {% else %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#loginmodal">Log in</button>
                            <a class="btn btn-secondary btn-sm" href="{% url 'account:signup' %}">Sign Up</a>
                        </div>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal fade" id="loginmodal">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Log in</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <form method="post" role="form" action="{% url 'login' %}">
                <div class="modal-body">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="sr-only" for="name">Username:</label>
                    <input name="username" id="name" value="" class="form-control" type="text" placeholder="Username"/>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="password">Password:</label>
                    <input name="password" id="password" value=""  class="form-control" type="password" placeholder="Password" />
                  </div>
                  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                </div class="modal-body">
                <div class="modal-footer">
                  <button type="submit" class="btn btn-secondary">Log in</button>
                </div class="modal-footer">
              </form>
            </div class="modal-content">
          </div class="modal-dialog modal-sm">
        </div id="loginmodal" class="modal fade" role="dialog">

        <script src="https://unpkg.com/popper.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </body>
</html>
