{% extends 'site_base.html' %}
{% load staticfiles %}
{% load winnow_tags %}
{% block title %}Winnow Project{% endblock %}
{% block headerextra %}
<meta name="description" content="An astronomy citizen science project for transient classification"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
{% endblock %}
</head>

{% block content %}	

<ul class="nav bg-dark">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'winnow:index' %}">Home</a>
  </li>
  <li class="nav-item {{ page_rank }}">
    <a class="nav-link" href="{% url 'winnow:rank' %}">Classify</a>
  </li>
  <li class="nav-item {{ page_data }}">
    <a class="nav-link" href="{% url 'winnow:data' %}">Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ page_about }}" href="{% url 'winnow:about' %}">About Us</a>
  </li>
</ul>

<div class="row">
  <div class="col-sm-9">
 {% block winnow_content %}{% endblock %}
  </div>
</nav>


  <div class="col-sm-3 bg-light" style="height:100vh;">
	<nav class="navbar">
		<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link">Latest Interesting objects</a>
		{% get_top3interesting as top3int %}
          <ul class="navbar-nav">
		{% if top3int %}
		{% for astro_object in top3int %}                    	
			<a href="{% url 'winnow:object_detail' astro_object.slug %}">
			<li class="nav-item small muted">
			<img src="{{ astro_object.subtImg.thumbnail.url }}" width="40" height="40">
			{{ astro_object }}
			</li>
			</a>
			{% endfor %}
			{% else %}
			<li class="nav-item small">No interesting objects so far.</li>
			{% endif %}
        	</ul>
		</li>
		<hr>

		<li class="nav-item"><a class="nav-link">Latest comments</a></li>
			{% get_last3comments as last3comm %}
        	<ul class="navbar-nav">
			{% if last3comm %}
				{% for comment in last3comm %}
				<li class="nav-item small">
			    <a href="{% url 'account:profile' comment.user %}">
				{% if user.picture %} 
					<div class="profilethumb" style="background-image:url({{ user.picture.thumbnail.url }}); float:left;"></div>
				{% else %} 
					<div class="profilethumb" style="background-image:url(/media/profile_images/default.thumbnail.png); float:left;"></div>
				{% endif %}
				</a>
            	On {{comment.submit_date}} <a href="{% url 'account:profile' comment.user %}">{{ comment.user }}</a>
				commented on <a href="{% url 'winnow:object_detail' comment.content_object.slug %}">object {{ comment.content_object.slug }}:</a>
            	"{{ comment.comment }}"
			    </li>
				{% endfor %}
			{% else %}
				<li class="nav-item small">No comments to show.</li>
			{% endif %}
         	</ul>
		</li>
		<hr>

		<li class="nav-item">Most voted objects</li>
		  <ul class="navbar-nav">{% for i in "123" %}
            <li class="nav-item small">Interesting object {{i}}</li>
            {% endfor %}
          </ul>
		</ul>
	  </div class="col-sm-3">
</div>				

{% comment %}
<div class="row bg-dark">
  <div class="col-sm-4">
	<ul>
		<li><h4>Participating Institutions</h4></li>
		<li><a href="http://www.utrgv.edu/en-us/">University of Texas at Rio Grande Valley</a></li>
		<li><a href="http://www.iate.oac.uncor.edu/en">Instituto de Astronomía Teórica y Experimental</a></li>
		<li><a href="http://www.unc.edu.ar">Universidad Nacional de Cordoba</a></li>
		<li><a href="http://www.tamu.edu">Texas A&M University</a></li>
	</ul>
  </div>
  <div class="col-sm-4">
	<ul>
		<li><h4>Useful links</h4></li>
		<li><a href="http://www.utrgv.edu/en-us/">University of Texas at Rio Grande Valley</a></li>
		<li><a href="http://toros.phys.utb.edu">TOROS main website</a></li>
		<li><a href="http://cgwa.phys.utb.edu">Center for Gravitational Wave Astronomy (CGWA)</a></li>
		<li><a href="http://www.iate.oac.uncor.edu/en">Instituto de Astronomía Teórica y Experimental</a></li>
	</ul>
  </div>
  <div class="col-sm-4">
  </div>
</div>
{% endcomment %}


{% endblock %}