{% extends 'winnow/base.html' %}
{% block title %}Winnow - Data{% endblock %}
{% block winnow_content %}
{% if not user.is_superuser %}
<div class="my-5">
<h1>Access denied</h1>
<p>You need to be logged in to be able to classify.</p>
<p>You can register <a href="{% url 'account:signup' %}">here</a>.</p>
</div>
{% else %}
<div class="my-5">
    <h1>Data Set Information</h1>
    <form id="dump_db" method="post" action="{% url 'winnow:data' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="#datasets">Request a DB Dump</label>
          <select class="form-control-sm" id="datasets" name="dataset">
{% for ads in datasets %}<option value = "{{ads.name}}">{{ads.name}}</option>{% endfor %}
          </select>
        </div>
        Click here to get all your data: <input type="submit" class="btn btn-primary" name="submit" value="Request DB Dump" />
    </form>
</div>

<div class="my-3">
    <h3>Statistics</h3>
    <table class="table table-hover">
        <tr class="bg-light">
            <th>Dataset Name</th>
            <th>Reals</th>
            <th>Bogus</th>
            <th>Unclassified</th>
            <th>Not Ranked</th>
            <th>Total</th>
        </tr>
        {% for ads in datasets %}
        <tr>
            <td>{{ ads.name }}</td>
            <td>{{ ads.number_of_reals }}</td>
            <td>{{ ads.number_of_bogus }}</td>
            <td>{{ ads.number_of_unclassified }}</td>
            <td>{{ ads.number_not_ranked }}</td>
            <td>{{ ads.number_of_objects }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
