<div class="row">
    <div class="col-sm-6 px-auto py-3">
        <h3>Optical transients</h3>
        <div class="row">
            <div class="col">
                <img src="test_can.jpg" width=100%/>
                <h5 style="text-align:center;">Candidate</h5>
            </div>
            <div class="col">
                <img src="test_ref.jpg" width=100%/>
                <h5 style="text-align:center;">Reference</h5>
            </div>
            <div class="col">
                <img src="test_sub.jpg" width=100%/>
                <h5 style="text-align:center;">Subtraction</h5>
            </div>
        </div>
        <h3>Not optical transients</h3>
        <h5>Artifact</h5>
        <div class="row">
            <div class="col">
                <img src="artifact_can.jpg" width=100%/>
                <h5 style="text-align:center;">Candidate</h5>
            </div>
            <div class="col">
                <img src="artifact_ref.jpg" width=100%/>
                <h5 style="text-align:center;">Reference</h5>
            </div>
            <div class="col">
                <img src="artifact_sub.jpg" width=100%/>
                <h5 style="text-align:center;">Subtraction</h5>
            </div>
        </div>
        <h5>Subraction error</h5>
        <div class="row">
            <div class="col">
                <img src="suberr_can.jpg" width=100%/>
                <h5 style="text-align:center;">Candidate</h5>
            </div>
            <div class="col">
                <img src="suberr_ref.jpg" width=100%/>
                <h5 style="text-align:center;">Reference</h5>
            </div>
            <div class="col">
                <img src="suberr_sub.jpg" width=100%/>
                <h5 style="text-align:center;">Subtraction</h5>
            </div>
        </div>
    </div>
</div>