{% extends 'site_base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block headerextra %}
<script src="{% static 'broker/equatorial.js' %}"></script>
{% endblock %}
{% block content %}


<div class="alert alert-success alert-dismissable my-1">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h1>Guidelines</h1>
    <p>The ranking by observatory is shown in the following tables, once a target is selected for observation please check the 'Selected' checkbox,
    once the images are completely taken then check the 'Observed' checkbox.</p>
</div>

{% if alerts %}
<ul class="nav nav-tabs my-4">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{the_alert}}<span class="caret"></span></a>
    <div class="dropdown-menu">
      {% for alert in alerts %}
      <a class="dropdown-item" href="{% url 'broker:alert_detail' alert.superevent.grace_id alert.pk %}">
          {{alert}} ({{alert.datetime | date:"N j, Y"}})
      </a>
      {% endfor %}
    </div>
  </li>
{% if is_admin %}
  <li class="nav-item">
    <a class="nav-link" data-toggle="modal" data-target="#targetUploadModal">Upload Targets</a>
  </li>
{% endif %}
  <li>
    <a class="nav-link" data-toggle="modal" data-target="#circularCreationModal">Generate Circular</a>
  </li>
</ul>
{% endif %}

{% if errors %}
<div class="alert alert-danger">
  <ul>
    {% for aline in errors %}
    <li>{{aline}}</li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% if is_admin %}
<!-- Modal to upload targets manually -->
<div class="modal fade" id="targetUploadModal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Targets Upload</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <form method='post' action="{% url 'broker:index' %}">
              {% csrf_token %}
              <div class="form-group">
                  <label>Alert</label>
                  <select name="alert">
                      {% for alert in alerts %}
                      <option value="{{alert.pk}}">{{alert}} ({{alert.datetime | date:"N j, Y"}})</option>
                      {% endfor %}
                  </select>
              </div class="form-group">
              <p><label>Assignments</label></p>
              <textarea placeholder="EABA: PGC000004 1.2E-3, UGC12895 0.5E-4, IC5376; Mamalluca: PGC000006 3.2E-5, NGC7802 1.1E-2, UGC12905 5.2E-6;" cols=40 rows=1 name="assignments"></textarea>
              <p><input type='submit' class="btn btn-primary" name="upload_target"/></p>
          </form>
      </div>
    </div class="modal-content">
  </div class="modal-dialog modal-sm">
</div id="targetUploadModal" class="modal fade">
{% endif %}
<!-- Modal to generate circular -->
<div class="modal fade" id="circularCreationModal">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Circular for {{ the_alert }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
    <p>TOROS Collaboration circular for the observations for the LVC alert {{ the_alert.superevent }} on {{ the_alert.superevent.datetime.date }}.</p>
    <br>
    {% for obs, assignments_obs in assn_per_obs %}
    <p>{{obs.name}}:<br>
    Lat: {{obs.latitude}}, Long: {{obs.longitude}}<br></p>
    {% for asg in assignments_obs %}{% if asg.was_observed %}
    {{asg.target.name}}: RA: {{asg.target.ra}} deg Dec: {{asg.target.dec}} deg<br>
    {% endif %}{% endfor %}
    <p></p>
    {% endfor %}
      </div>
    </div>  
  </div>
</div>

{% if alerts %}
{% if the_alert.superevent.was_retracted %}
<div class="alert alert-danger">
  <h1>Assignments for the LVC alert {{the_alert}}</h1>
  <p>This Super Event has been retracted.</p>
</div>
{% else %}
<h1>Assignments for the LVC alert {{the_alert}}</h1>
{% endif %}
{% if the_alert.superevent.se_type == "T" %}
<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>This is a test.</p>
</div>
{% endif %}
{% if the_alert.superevent.se_type == "D" %}
<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>This is a drill.</p>
</div>
{% endif %}

{% else %}
<h1>No alerts to show</h1>
{% endif %}

<div class="card my-5">
    <div class="card-header bg-primary text-white">Selected targets for all observatories</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover small" id="general_table">
                <thead>
                    <tr>
                        <th>PGC</th>
                        <th>Name</th>
                        <th class="dropdown">
                          <a class="dropdown-toggle btn btn-outline-secondary" data-toggle="dropdown">RA<span class="caret"></span></a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="set_column_ra_degree('general_table')">degree</a>
                            <a class="dropdown-item" onclick="set_column_ra_hms('general_table')">h:m:s</a>
                          </div>
                        </th>
                        <th class="dropdown">
                          <a class="dropdown-toggle btn btn-outline-secondary" data-toggle="dropdown">Dec<span class="caret"></span></a>
                          <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="set_column_dec_degree('general_table')">degrees</a>
                                <a class="dropdown-item" onclick="set_column_dec_dms('general_table')">d:m:s</a>
                            </div>
                        </th>
                        <th>B App</th>
                        <th>B Abs</th>
                        <th>Distance [MPc]</th>
                        <th>Localization probability</th>
                        <th>Selected</th>
                        <th>Observed</th>
                        <th>Observation date/time</th>
                        <th>Observatory</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asg in all_assingments %}
                    <tr>
                        <td>{{asg.target.pgc}}</td>
                        <td>{{asg.target.name}}</td>
                        <td>{{asg.target.ra|stringformat:".6f"}}</td>
                        <td>{{asg.target.dec|stringformat:".6f"}}</td>
                        <td>{{asg.target.b_john_mag}}</td>
                        <td>{{asg.target.b_john_absmag}}</td>
                        <td>{{asg.target.dist}}</td>
                        <td>{{asg.probability|stringformat:".3e"}}</td>
                        <td>
                            <div align="center">
                                <input type="checkbox" name="istaken" {% if asg.is_taken %}checked{% endif %} disabled>
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <input type="checkbox" name="istaken" {% if asg.was_observed %}checked{% endif %} disabled>
                            </div>
                        </td>
                        <td></td>
                        {% if asg.observatory.short_name %}
                        <td>{{asg.observatory.short_name}}</td>
                        {% else %}
                        <td>{{asg.observatory}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div class="table-responsive">
        <p>Total observed galaxies: {{observed_targets}}</p>
        <p>Total ongoing galaxy observations: {{selected_targets}}</p>
    </div class="card-body">
</div class="card">

{% for obs, assignments_obs in assn_per_obs %}
<div class="card my-5">
    <div class="card-header bg-primary text-white">
        {{obs.name}}{% if obs.short_name %} ({{obs.short_name}}){% endif %}
        at {{obs.city}}, {{obs.country}}
    </div>
    <form method="post" action="{% url 'broker:index' %}">
    <div class="card-body">
        <p>Geo long: {{obs.longitude}} lat: {{obs.latitude}}
            Elevation: {{obs.elevation|floatformat:0|intcomma}} m (<span id="obs{{obs.id}}">None</span> ft)
        </p>
        <script>
        document.getElementById("obs{{obs.id}}").innerHTML = intcomma(mtofeet({{obs.elevation}}).toFixed(0))
        </script>
        {% if not assignments_obs %}
        <p>No targets for this observatory.</p>
        {% else %}
        <p><mark>WARNING: A red background means that the target was selected by another observatory.</mark></p>
        <input type="hidden" value="{{ the_alert.pk }}" name="alert_id">
        <input type="hidden" value="{{ obs.pk }}" name="obs_id">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-striped table-hover small" id="table_{{obs.id}}">
                <thead>
                    <tr>
                        <th>PGC</th>
                        <th>Name</th>
                        <th class="dropdown">
                          <a class="dropdown-toggle btn btn-outline-secondary" data-toggle="dropdown">RA<span class="caret"></span></a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="set_column_ra_degree('table_{{obs.id}}')">degree</a>
                            <a class="dropdown-item" onclick="set_column_ra_hms('table_{{obs.id}}')">h:m:s</a>
                          </div>
                        </th>
                        <th class="dropdown">
                          <a class="dropdown-toggle btn btn-outline-secondary" data-toggle="dropdown">Dec<span class="caret"></span></a>
                          <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="set_column_dec_degree('table_{{obs.id}}')">degree</a>
                                <a class="dropdown-item" onclick="set_column_dec_dms('table_{{obs.id}}')">d:m:s</a>
                            </div>
                        </th>
                        <th>B App</th>
                        <th>B App</th>
                        <th>Distance [Mpc]</th>
                        <th>Localization probability</th>
                        <th>Selected</th>
                        <th>Observed</th>
                        <th>Observation date/time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asg in assignments_obs %}
                    <tr {% if asg.flag_unavailable %}class="danger"{% endif %}>

                        <td>{{asg.target.pgc}}</td>
                        <td>{{asg.target.name}}</td>
                        <td>{{asg.target.ra|stringformat:".6f"}}</td>
                        <td>{{asg.target.dec}}</td>
                        <td>{{asg.target.b_john_mag }}</td>
                        <td>{{asg.target.b_john_absmag}}</td>
                        <td>{{asg.target.dist}}</td>
                        <td>{{asg.probability|stringformat:".3f"}}</td>
                        <td>
                            <div align="center">
                                <input type="checkbox" name="istaken[]" {% if asg.is_taken %}checked{% endif %} value="{{asg.pk}}">
                            </div>
                        </td>
                        <td>
                            <div align="center">
                                <input type="checkbox" name="wasobserved[]" {% if asg.was_observed %}checked{% endif %} value="{{asg.pk}}">
                            </div>
                        </td>
                        <td>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div class="table-responsive">
        {% endif %}
    </div class="card-body">
    <div class="card-footer">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div class="card-footer">
    </form>
</div class="card bg-primary">
{% endfor %}
{% endblock %}
