{% extends "wiki/base_site.html" %}
{% load wagtailcore_tags %}
{% block wiki_site_title %} - Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="{% pageurl request.site.root_page %}">TOROS Website</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li><a href="{% url 'broker:index' %}">Broker</a></li>
  <li class="active"><a href="{% url 'wiki:root' %}">Wiki</a></li>
  <li><a href="{% url 'winnow:index' %}">Winnow</a></li>
</ul>
{% endblock %}

{% block wiki_footer_logo %}
{% endblock %}
