{% extends 'site_base.html' %}
{% block title %}CTMO Inauguration{% endblock %}
{% block content %}
  <h2>Activities for the inauguration of the CTMO Observatory</h2>
  <p>Your phone number and email will not appear after you enter them.</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>School</th>
{% if do_disclose %}
        <th>Email</th>
        <th>Phone #</th>
{% endif %}
        <th>Activity</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
{% for act in activities %}
      <tr>
        <td>{{ act.name }}</td>
        <td>{{ act.school }}</td>
{% if do_disclose %}
        <td>{{ act.email }}</td>
        <td>{{ act.phone }}</td>
{% endif %}
        <td>{{ act.activity }}</td>
{% if act.status == "pe" %}
        <td><button type="button" class="btn btn-primary" disabled>{{ act.get_status_display }}</button></td>
{% elif act.status == "ok" %}
        <td><button type="button" class="btn btn-success" disabled>{{ act.get_status_display }}</button></td>
{% else %}
        <td><button type="button" class="btn btn-danger" disabled>{{ act.get_status_display }}</button></td>
{% endif %}
      </tr>
{% endfor %}
    </tbody>
  </table>

<h2>Enter new activity here:</h2>
<form method="POST" class="post-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}
