{% extends 'site_base.html' %}
{% block title %}Profile Page{% endblock %}
{% block content %}
<div class="card">
{% if the_user %}
  <div class="card-header">
    <a href="{{ the_user.picture.url }}"><img alt="" src="{{ the_user.picture.thumbnail.url }}"/></a>
    Profile for
{% if the_user.get_full_name %}
{{ the_user.get_full_name}}
{% else %}
{{ the_user.username }}
{% endif %}
  </div>
    <div class="card-body">
    	<p>Username: {{ the_user.username }}</p>
        <p>Full Name: {{ the_user.get_full_name }}</p>
        <p>Affiliation: {{ the_user.get_affiliation_display }}</p>
    	{% if user.is_authenticated and user == the_user %}
    	<a href="{% url 'password_change' %}">Change password </a>
    	{% endif %}
    </div>
{% else %}
  <div class="card-header"><h2>No profile found</h2></div>
{% endif %}
 </div>
{% endblock %}
